<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <button
        (click)="onlyOdd = !onlyOdd"
        class="btn btn-primary"
      >Only Show odd numbers
      </button>
      <br><br>
      <div *ngIf="onlyOdd">
        <ul class="list-group">
          <li *ngFor="let odd of oddNumbers" [ngClass]="{odd : odd % 2 !== 0}"
              class="list-group-item"
          >{{odd}}</li>
        </ul>
      </div>
      <div *ngIf="!onlyOdd">
        <ul class="list-group">
          <li *ngFor="let even of evenNumbers" [ngClass]="{even: even % 2==0}"
              class="list-group-item"
          >{{even}}</li>
        </ul>
        <p appBasicHighlight>Style me with Directive</p>
        <p appBetterHighlight>Style me with a better Directive</p>
      </div>

    </div>
  </div>
</div>
